# dependencies
node_modules/
package-lock.json

# builds
dist/
build/

# env files
.env

# misc
*.log
.DS_Store

# TypeScript build info
*.tsbuildinfo

# Prevent accidental compiled JS in src
client/src/*.js

