# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
.next/
out/

# TurboRepo cache
.turbo/
turbo.json

# pnpm
pnpm-lock.yaml

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# Mac / OS
.DS_Store
Thumbs.db

# Misc
.raw

# Google credentials (DO NOT COMMIT)
server/src/config/drive-service-account.json

# Google credentials
server/src/config/oauth-client.json
